.carousel .control-next.control-arrow:before {
    border-left: 8px solid #000; /* Black arrow */
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #000; /* Black arrow */
}

.carousel .control-dots .dot {
    background: #000; /* Black dots */
}
